.finder{
  padding: 1rem 15px;
  @include box-shadow()
}

.loading{
  .fa-spinner{
    font-size: 2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}
.image{
  margin: 15px 0;
  font-size: 0.8rem;
  @include box-shadow()

  .card-title{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    height: 3rem;
    white-space: normal;
  }

  button.btn-success{
    background-color: $opennebula-color;
    border-color: $opennebula-color;
    box-shadow: none !important;

    &:hover,&:active{
      background-color: $opennebula-color-hover !important;
      border-color: $opennebula-color-hover !important;
    }
  }

  .card-text{
    height: 4.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
  }

  .card-footer{
    font-size: 0.7rem;
  }

  .image-place{
    width: 100%;
    position: relative;
    overflow: hidden;

    &:before{
      content: "";
      display: block;
      padding-top: 70%;
    }

    img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }

    i{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
      vertical-align: middle;
    }
  }

  .info-btn{
    font-weight: bold;
  }

  .tags{
    margin-top: 0.5rem;

    .badge{
      margin: 0 5px 0 0;
    }
  }
}