.loading{
  .fa-spinner{
    font-size: 2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}
.image{
  margin: 15px 0;
  font-size: 0.8rem;
  cursor: pointer;
  @include box-shadow();

  &:hover{
    @include box-shadow(0, 0, 9px, 9px);
  }

  .hypervisor{
    top: 1rem;
    background-color: $font-color;
    right: -8rem;
    transform: rotate(45deg);
    font-size: 0.8rem;
    color: $footer-color;
    width: 20rem;
  }

  .card-title{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    height: 3rem;
    white-space: normal;
    @media (max-width: 576px){
      height: auto;
    }
  }

  .card-text{
    height: 4.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
  }

  .card-footer{
    font-size: 0.8rem;
  }

  .image-place{
    width: 100%;
    position: relative;
    overflow: hidden;

    &:before{
      content: "";
      display: block;
      padding-top: 50%;
    }

    img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }

    i{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
      vertical-align: middle;
    }
  }

  .info-btn{
    font-weight: bold;
  }

  .tags{
    margin-top: 0.5rem;

    .badge{
      margin: 0 5px 0 0;
    }
  }
}