.footer{
  .opennebula-systems-logo{
    max-width: 20rem;
  }
  .opennebula-link{
    color: $footer-bgcolor-link;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
  }
  .legal-place{
    background-color: $footer-bgcolor;
    color: $footer-color;
    font-size: 0.7rem;

    a{
      text-decoration: none;
      font-weight: bold;
      color: $footer-color;

      &:hover{
        color: $footer-color-hover;
      }
    }
  }
}