.header{
  box-shadow: 0 1px 1px rgba(0,0,0,0.14);

  a{
    text-decoration: none;
    color: $font-color;
    display: table;

    *{
      display: table-cell;
      vertical-align: middle;
    }

    img{
      max-height: 2.5rem;
      max-width: 120px;
    }

    h3{
      padding-left: 1rem; 
    }
  }

}