.header{
  border-bottom: 1px solid #d8d8d8;

  a{
    text-decoration: none;
    color: $font-color;
    display: table;
    
    h3{
      font-family: "URW Gothic", "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 1.45rem;
      color: $header-color-logo;
    }

    *{
      display: table-cell;
      vertical-align: middle;
    }

    img{
      max-height: 2.5rem;
      max-width: 120px;
    }

    h3{
      padding-left: 1rem; 
    }
  }
}