{
  "presets": [
    ["@babel/preset-env"],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    [
      "@emotion",
      {
        "autoLabel": "always",
        "labelFormat": "[local]",
        "sourceMap": true
      }
    ]
  ]
}