
.card-appliance{
    &:hover{
        .appliance-card-hover{
            transition: all .2s ease-in-out;
            bottom: 0;
        }
    }
}
.appliance-card-hover{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background-color: red;
    position: absolute;
    bottom: -150px;
    left: 0;

    background-color: #1897C2;
    width: 100%;

    padding: 20px;
    height: 150px;
    color: white;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__buttons{
        display: flex;
        margin-top: auto;
        gap: 20px;
    }
}